.date {
	color: gray;
}

article .date {
	text-transform: uppercase;
}

#disqus_thread a em {
	text-decoration: none;
}

/* TODO: kill hack */
#archive-toggle-button-wrapper {
	text-align: right;
}

/* TODO: fix hack - issue is margin collapse between section and h1 is causing bad animation */
#archive h1 {
	margin-top: 0;
}
