#content #full-name {
	display: inline-block;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
	text-align: center;
}

#content #contact-info ul {
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
}

#content #contact-info li {
	text-align: center;
}

#content #skills ul.name-value-pair {
	display: table;
	padding-left: 0;
}

#content #skills ul.name-value-pair > li {
	display: table-row;
	list-style: none;
	margin-left: 0;
}

#content #skills ul.name-value-pair > li .name {
	display: table-cell;
	font-weight: bold;
	padding-right: 20px;
}

#content #skills ul.name-value-pair > li .value {
	display: table-cell;
}

#content ul.chronological-events {
	display: table;
	padding-left: 0;
}

#content ul.chronological-events > li {
	display: table-row;
	list-style: none;
	margin-left: 0;
}

#content ul.chronological-events > li .date {
	color: gray;
	display: table-cell;
	font-weight: bold;
	padding-right: 20px;
}

#content ul.chronological-events > li .details {
	display: table-cell;
}

#content ul.chronological-events > li .details .summary {
	font-weight: bold;
}

#content ul.chronological-events > li .details .context:before {
	content: " - ";
	font-weight: bold;
}

#content ul.chronological-events > li .details .context {
	font-weight: bold;
}

#content ul.chronological-events p.description {
	margin-left: 10px;
}
