h1, h2, h3, h4, h5, h6, p, ul {
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.6em;
}

h4 {
	font-size: 1.4em;
}

h5 {
	font-size: 1.2em;
}

h6 {
	font-size: 1.0em;
}

body {
	background-color: #cccccc;
	font: 14px/1.5 Helvetica, Arial,'Liberation Sans', FreeSans, sans-serif;
}

#header {
	height: 100px;
	position: relative;
}

#header #title {
	position: absolute;
	bottom: 0;
	left: 0;
	font-size: 2.5em;
	font-weight: bold;
	text-transform: lowercase;
}

#header ul#nav {
	position: absolute;
	bottom: 0;
	right: 0;
	float: right;
	list-style: none;
	overflow: hidden;
}

#header ul#nav > li {
	float: left;
	border-right: 1px solid #666666;
	margin: 0;
	padding: 0px 10px;
}

#header ul#nav > li:last-child {
	border-right: 0;
}

#header a {
	text-decoration: none;
}

#header a:link,
#header a:visited {
	color: #666666;
}

#header a:hover,
#header a:focus,
#header a:active,
body#about a.about,
body#home a.home,
body#blog a.blog,
body#contact a.contact,
body#projects a.projects,
body#resume a.resume {
	color: white;
}

#footer ul {
	list-style: none;
	overflow: hidden;
}

#footer ul > li:first-child {
	padding-left: 0;
}

#footer ul > li {
	float: left;
	border-right: 1px solid black;
	margin: 0;
	padding-left: 10px;
	padding-right: 10px;
}

#footer ul > li:last-child {
	border-right: 0;
}

#footer a {
	text-decoration: none;
}

#footer a:link,
#footer a:visited {
	color: #666666;
}

#footer a:hover,
#footer a:focus,
#footer a:active {
	color: white;
}

#content {
	background: white;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 20px;
	padding-bottom: 20px;

	border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;

	box-shadow: 5px 5px 10px #444444;
	-moz-box-shadow: 5px 5px 10px #444444;
	-webkit-box-shadow: 5px 5px 10px #444444;
}

#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6,
#content p,
#content ul {
	padding-left: 20px;
}
