h1, h2, h3, h4, h5, h6, p, ul {
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}

h1 {
	font-size: 2.2em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.6em;
}

h4 {
	font-size: 1.4em;
}

h5 {
	font-size: 1.2em;
}

h6 {
	font-size: 1.0em;
}

body {
	background-color: #cccccc;
	font: 14px/1.5 Helvetica, Arial,'Liberation Sans', FreeSans, sans-serif;
}

#header {
	height: 100px;
	position: relative;
}

#header #header-title {
	position: absolute;
	bottom: 0;
	left: 0;
	font-size: 2.5em;
	font-weight: bold;
	text-transform: lowercase;
}

#header ul#nav {
	position: absolute;
	bottom: 0;
	right: 0;
	float: right;
	list-style: none;
	overflow: hidden;
}

#header ul#nav > li {
	float: left;
	border-right: 1px solid #666666;
	margin: 0;
	padding: 0px 10px;
}

#header ul#nav > li:last-child {
	border-right: 0;
}

#footer ul {
	list-style: none;
	overflow: hidden;
}

#footer ul > li:first-child {
	padding-left: 0;
}

#footer ul > li {
	float: left;
	border-right: 1px solid black;
	margin: 0;
	padding-left: 10px;
	padding-right: 10px;
}

#footer ul > li:last-child {
	border-right: 0;
}

.background a:link,
.background a:visited {
	color: #666666;
	text-decoration: none;
}

.background a:hover,
.background a:focus,
.background a:active,
body#about .background a.about,
body#home .background a.home,
body#blog .background a.blog,
body#contact .background a.contact,
body#projects .background a.projects,
body#resume .background a.resume {
	color: white;
	text-decoration: underline;
}

.foreground a:link,
.foreground a:visited {
	color: #666666;
}

.foreground a:hover,
.foreground a:focus,
.foreground a:active {
	color: blue;
	text-decoration: underline;
}

.foreground a.strong-link:link,
.foreground a.strong-link:visited {
	color: black;
	text-decoration: none;
}

.foreground a.strong-link:hover,
.foreground a.strong-link:focus,
.foreground a.strong-link:active {
	color: blue;
	text-decoration: underline;
}


#content {
	background: white;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 20px;
	padding-bottom: 20px;

	border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;

	box-shadow: 5px 5px 10px #444444;
	-moz-box-shadow: 5px 5px 10px #444444;
	-webkit-box-shadow: 5px 5px 10px #444444;
}

#page-title {
	border-bottom: 1px dotted gray;
}

.margins {
	margin: 20px;
}

.section {
	border-bottom: 1px #cccccc solid;
	margin-bottom: 30px;
	padding-bottom: 30px;
}

.section:last-child {
	border-bottom: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}
