h1, h2, h3, h4, h5, h6, p, ul {
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}

h1 {
	font-size: 2.2em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.6em;
}

h4 {
	font-size: 1.4em;
}

h5 {
	font-size: 1.2em;
}

h6 {
	font-size: 1.0em;
}

body {
	background: #2c2b27;
	font: 14px/1.5 Helvetica, Arial,'Liberation Sans', FreeSans, sans-serif;
}

header {
	overflow: hidden;
	position: relative;
	height: 50px;
	margin-top: 10px;
}

footer {
	overflow: hidden;
}

header #logo {
	position: absolute;
	left: 0;
	bottom: 0;
	font-size: 50px;
	font-weight: bold;
	line-height: 50px;
	text-transform: lowercase;
}

header nav {
	float: right;
	padding-top: 20px;
}

footer nav {
	float: right;
}

nav ul {
	list-style: none;
	overflow: hidden;
}

nav ul > li {
	float: left;
	border-right: 1px solid #5f5e5a;
	margin: 0;
	padding: 0px 10px;
}

nav ul > li:last-child {
	border-right: 0;
}

nav a:link,
nav a:visited {
	color: #5f5e5a;
	text-decoration: none;
}

nav a:hover,
nav a:focus,
nav a:active,
#blog-page a.blog,
#projects-page a.projects,
#resume-page a.resume {
	color: #f49935;
	text-decoration: none;
}

#content-wrapper {
	background: #f4f4f4;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 20px;
	padding-bottom: 20px;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	/*
	box-shadow: 0 0 3px 3px black;
	-moz-box-shadow: 0 0 3px 3px black;
	-webkit-box-shadow: 0 0 3px 3px black;
	*/
}

#content-wrapper a:link,
#content-wrapper a:visited {
	color: #2382c5;
	text-decoration: none;
	padding: 0;
	border-bottom: 1px dotted #2382c5;
}

#content-wrapper a:hover,
#content-wrapper a:focus,
#content-wrapper a:active,
#content-wrapper a.button.down {
	color: #2382c5;
	text-decoration: none;
	padding: 0;
	border-bottom: 1px solid #2382c5;
	background: #d9efff;
}

section {
	padding-bottom: 20px;
	border-bottom: 1px #cccccc solid;
	margin-top: 20px;
	margin-bottom: 20px;
}

section:last-child {
	border-bottom: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}

ul.name-value-pairs {
	display: table;
	padding-left: 0;
}

ul.name-value-pairs > li {
	display: table-row;
	list-style: none;
	padding-left: 0;
	padding-right: 0;
}

ul.name-value-pairs > li .name {
	display: table-cell;
	padding-right: 20px;
}

ul.name-value-pairs > li .value {
	display: table-cell;
}

aside .sidebar-title {
	font-weight: bold;
	font-size: 1.5em;
}

.grid-wrapper {
	padding-left: 20px;
	padding-right: 20px;
}

.grid-wrapper.border-right-lside {
	border-left: 1px solid #cccccc;
}

.grid-wrapper.border-right-rside {
	padding-left: 0;
}

.grid-wrapper.border-left-lside {
	padding-right: 0;
}

.grid-wrapper.border-left-rside {
	border-left: 1px solid #cccccc;
}
