// Imports -------------------------------------------------------------------

@import "compass/utilities/general/clearfix";


// Styles --------------------------------------------------------------------

#blog, #post {
	article .date { color: gray; text-transform: uppercase; }
}

#blog {
	.date { color: gray; }
}

#post {
	#disqus_thread a em { text-decoration: none; }
}

