<aside id="sidebar">
	<!-- TODO: div.sidebar-title should be made into hx.sidebar-title -->
	<section id="about">
		<div class="sidebar-title">About</div>
		<p>I am currently an undergraduate student attending the University of Waterloo. I am expected to graduate in the spring of 2014.</p>
	</section>
	<section id="contact">
		<div class="sidebar-title">Contact</div>
		<p>You can reach me by email at <a href="mailto:mack@mduan.com">mack@mduan.com</a>.</p>
	</section>
	<section id="social">
		<div class="sidebar-title">Social</div>
		<nav>
			<ul>
				<li><a href="http://www.linkedin.com/in/mduan">LinkedIn</a></li>
				<li><a href="https://github.com/mduan">Github</a></li>
				<li><a href="http://feeds.feedburner.com/mduan">RSS</a></li>
			</ul>
		</nav>
	</section>
</aside>
