#resume {
  float: left;
  clear: right;
}

h1 {
	text-align: center;
}

#contact-info ul {
	list-style: none;
  overflow: hidden;
}

#contact-info li {
	float: left;
	margin-left: 0;
	text-align: center;
}

#contact-info li.website,
#contact-info li.phone {
	width: 33%;
}

#contact-info li.email {
	width: 34%;
}

ul.chronological-events {
	display: table;
	padding-left: 0;
}

ul.chronological-events > li {
	display: table-row;
	list-style: none;
	margin-left: 0;
}

ul.chronological-events > li .date {
	color: gray;
	display: table-cell;
	font-weight: bold;
	padding-right: 20px;
}

ul.chronological-events > li .details {
	display: table-cell;
}

ul.chronological-events > li .details .summary {
	font-weight: bold;
}

ul.chronological-events > li .details .context:before {
	content: " - ";
	font-weight: bold;
}

ul.chronological-events > li .details .context {
	font-weight: bold;
}

ul.chronological-events p.description {
	margin-left: 10px;
}
