/* line 9, ../../sass/resume.scss */
#resume {
  float: left;
  clear: right;
}
/* line 13, ../../sass/resume.scss */
#resume h1 {
  text-align: center;
}
/* line 15, ../../sass/resume.scss */
#resume #contact-info ul {
  overflow: hidden;
  *zoom: 1;
  padding-left: 0;
  padding-right: 0;
  border-left: 0;
  border-right: 0;
  margin-left: 0;
  margin-right: 0;
  list-style: none;
}
/* line 19, ../../sass/resume.scss */
#resume #contact-info ul > li {
  float: left;
  margin-left: 0;
  text-align: center;
}
/* line 23, ../../sass/resume.scss */
#resume #contact-info ul > li.website, #resume #contact-info ul > li.email, #resume #contact-info ul > li.phone {
  width: 33.333%;
}
/* line 28, ../../sass/resume.scss */
#resume ul.chronological-events {
  display: table;
  padding-left: 0;
}
/* line 32, ../../sass/resume.scss */
#resume ul.chronological-events > li {
  display: table-row;
  list-style: none;
  margin-left: 0;
}
/* line 37, ../../sass/resume.scss */
#resume ul.chronological-events > li .date {
  color: gray;
  display: table-cell;
  font-weight: bold;
  padding-right: 20px;
}
/* line 44, ../../sass/resume.scss */
#resume ul.chronological-events > li .details {
  display: table-cell;
}
/* line 47, ../../sass/resume.scss */
#resume ul.chronological-events > li .details .context {
  font-weight: bold;
}
/* line 49, ../../sass/resume.scss */
#resume ul.chronological-events > li .details .context:before {
  content: " - ";
  font-weight: bold;
}
/* line 56, ../../sass/resume.scss */
#resume ul.chronological-events > li .summary {
  font-weight: bold;
}
/* line 58, ../../sass/resume.scss */
#resume ul.chronological-events > li p.description {
  margin-left: 10px;
}
