h1, h2, h3, h4, h5, h6, p, ul {
	margin-bottom: 0.5em;
}

h1 {
	font-size: 2.2em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.6em;
}

h4 {
	font-size: 1.4em;
}

h5 {
	font-size: 1.2em;
}

h6 {
	font-size: 1.0em;
}

body {
	background: #2c2b27;
	font: 14px/1.5 Helvetica, Arial,'Liberation Sans', FreeSans, sans-serif;
}

header,
#content-wrapper,
footer {
  margin: 10px auto;
  overflow: hidden;
  position: relative;
}

header,
footer {
  width: 960px;
}

header {
  height: 100px;
}

#content-wrapper {
  width: 920px;
  background: #f4f4f4;
  padding: 20px;

  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

header #logo {
  font-size: 40px;
  font-weight: bold;
  line-height: 100px;
  text-transform: lowercase;

  display: block;
	position: absolute;
  vertical-align: bottom;
  left: 0;
  bottom: 0;
}

header nav {
  position: absolute;
  right: 0;
  bottom: 0;
}

footer nav {
  /* TODO: figure out why position:absolute causes nav not to show */
  float: right;
}

nav ul {
	list-style: none;
	overflow: hidden;
}

nav ul > li {
	float: left;
	border-right: 1px solid #5f5e5a;
	margin: 0;
	padding: 0px 10px;
}

nav ul > li:first-child {
	padding-left: 0;
}

nav ul > li:last-child {
	padding-right: 0;
	border-right: 0;
}

header a:link, header a:visited,
footer a:link, footer a:visited {
	color: #5f5e5a;
	text-decoration: none;
}

header a:hover, header a:focus, header a:active,
footer a:hover, footer a:focus, footer a:active,
#blog-page a.blog, #projects-page a.projects, #resume-page a.resume {
	color: #f49935;
	text-decoration: none;
}

#content-wrapper a:link,
#content-wrapper a:visited {
	color: #2382c5;
	text-decoration: none;
	padding: 0;
	border-bottom: 1px dotted #2382c5;
}

#content-wrapper a:hover,
#content-wrapper a:focus,
#content-wrapper a:active {
	color: #2382c5;
	text-decoration: none;
	padding: 0;
	border-bottom: 1px solid #2382c5;
	background: #d9efff;
}

section {
	padding-bottom: 20px;
	border-bottom: 1px #cccccc solid;
	margin-bottom: 20px;
}

section:last-child {
	border-bottom: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}

ul.name-value-pairs {
	display: table;
	padding-left: 0;
}

ul.name-value-pairs > li {
	display: table-row;
	list-style: none;
	padding-left: 0;
	padding-right: 0;
}

ul.name-value-pairs > li .name {
	display: table-cell;
	padding-right: 20px;
}

ul.name-value-pairs > li .value {
	display: table-cell;
}

#main-content {
	float: left;
	padding-right: 10px;
	width: 610px;
	overflow: hidden;
	position: relative;
}

aside#sidebar {
	float: right;
  border-left: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
	width: 290px;
	padding-left: 9px; /* 9px padding + 1px border = 10px */
	position: relative;
}

aside#sidebar .sidebar-title {
	font-weight: bold;
	font-size: 1.5em;
}

#content-wrapper button {
	font-weight: bold;
	text-decoration: none;
	background: #eaeaea;
	padding: 5px;
	border: 1px outset buttonface;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#content-wrapper button:hover,
#content-wrapper button:focus,
#content-wrapper button:active {
	background: #d9efff;
	color: #2382c5;
}

#content-wrapper button.depressed {
	background: #2382c5;
	color: #d9efff;
	box-shadow: inset 0 0 2px #333333;
	-moz-box-shadow: inset 0 0 2px #333333;
	-o-box-shadow: inset 0 0 2px #333333;
	-webkit-box-shadow: inset 0 0 2px #333333;
}

#sidebar-toggle-button {
	float: right;
}

.reflected {
	position: relative;
}

.reflected:before,
.reflected:after {
	display: block;
	position: absolute;
	bottom: -0.8em;
	left: 0;
	right: 0;
}

.reflected:before {
	opacity: 0.3;
	/* This is how the text is flipped vertically */
	-moz-transform: scaleY(-1);
	-o-transform: scaleY(-1);
	-webkit-transform: scaleY(-1);
}

.reflected:after {
	/* Fading using CSS gradient */
	/* Don't forget to change the colors to your background color */
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0), rgb(44, 43, 39));
	background: -webkit-gradient(linear, left top, left center from(rgba(255, 255, 255, 0)), to(rgb(44, 43, 39)));
  background: #2c2b27;
	/* the 'filter' property is left out because IE doesn't know ':before' and ':after' psuedo-selectors anyway */
	content: ' ';
	height: 1em;
}

#logo.reflected:before {
	content: 'mack duan';
}

/*
.clearfix:before,
.clearfix:after {
	content: '.';
	display: block;
	overflow: hidden;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
	width: 0;
	height: 0;
}

.clearfix:after {
	clear: both;
}
*/
