/* line 3, ../../sass/syntax.scss */
.mono, pre, code, tt, p code, li code {
  font-family: Menlo,Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
}

/* line 7, ../../sass/syntax.scss */
pre {
  background: none repeat scroll left top #002B36;
  border: 1px solid #073642;
  border-radius: 0.4em 0.4em 0 0;
  color: #93A1A1;
  font-size: 14px;
  line-height: 1.45em;
  margin-bottom: 2.1em;
  overflow: auto;
  padding: 0.5em;
  width: 920px;
}

/* line 20, ../../sass/syntax.scss */
p code, li code {
  background: none repeat scroll 0 0 whitesmoke;
  border: 1px solid #DDDDDD;
  border-radius: 0.4em 0.4em 0.4em 0.4em;
  color: #333;
  display: inline-block;
  font-size: 14px;
  line-height: 1.5em;
  margin: -1px 0;
  padding: 0 0.3em;
}

/* line 32, ../../sass/syntax.scss */
.highlight .lineno, html .gist .gist-file .gist-syntax .gist-highlight .line-numbers {
  background: none repeat scroll left top #073642;
  border-right: 1px solid #00232C;
  box-shadow: -1px 0 #083e4b inset;
  /*font-size: 13px;*/
  line-height: 1.5em;
  padding: 0.5em 0.8em;
  text-align: right;
  text-shadow: 0 -1px #021014;
  margin-left: -0.5em;
}

/* line 44, ../../sass/syntax.scss */
.highlight {
  background: #ffffff;
}

/* line 45, ../../sass/syntax.scss */
.highlight .c {
  color: #999988;
  font-style: italic;
}

/* Comment */
/* line 46, ../../sass/syntax.scss */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}

/* Error */
/* line 47, ../../sass/syntax.scss */
.highlight .k {
  font-weight: bold;
}

/* Keyword */
/* line 48, ../../sass/syntax.scss */
.highlight .o {
  font-weight: bold;
}

/* Operator */
/* line 49, ../../sass/syntax.scss */
.highlight .cm {
  color: #999988;
  font-style: italic;
}

/* Comment.Multiline */
/* line 50, ../../sass/syntax.scss */
.highlight .cp {
  color: #999999;
  font-weight: bold;
}

/* Comment.Preproc */
/* line 51, ../../sass/syntax.scss */
.highlight .c1 {
  color: #999988;
  font-style: italic;
}

/* Comment.Single */
/* line 52, ../../sass/syntax.scss */
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}

/* Comment.Special */
/* line 53, ../../sass/syntax.scss */
.highlight .gd {
  color: #000000;
  background-color: #ffdddd;
}

/* Generic.Deleted */
/* line 54, ../../sass/syntax.scss */
.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa;
}

/* Generic.Deleted.Specific */
/* line 55, ../../sass/syntax.scss */
.highlight .ge {
  font-style: italic;
}

/* Generic.Emph */
/* line 56, ../../sass/syntax.scss */
.highlight .gr {
  color: #aa0000;
}

/* Generic.Error */
/* line 57, ../../sass/syntax.scss */
.highlight .gh {
  color: #999999;
}

/* Generic.Heading */
/* line 58, ../../sass/syntax.scss */
.highlight .gi {
  color: #000000;
  background-color: #ddffdd;
}

/* Generic.Inserted */
/* line 59, ../../sass/syntax.scss */
.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa;
}

/* Generic.Inserted.Specific */
/* line 60, ../../sass/syntax.scss */
.highlight .go {
  color: #888888;
}

/* Generic.Output */
/* line 61, ../../sass/syntax.scss */
.highlight .gp {
  color: #555555;
}

/* Generic.Prompt */
/* line 62, ../../sass/syntax.scss */
.highlight .gs {
  font-weight: bold;
}

/* Generic.Strong */
/* line 63, ../../sass/syntax.scss */
.highlight .gu {
  color: #aaaaaa;
}

/* Generic.Subheading */
/* line 64, ../../sass/syntax.scss */
.highlight .gt {
  color: #aa0000;
}

/* Generic.Traceback */
/* line 65, ../../sass/syntax.scss */
.highlight .kc {
  font-weight: bold;
}

/* Keyword.Constant */
/* line 66, ../../sass/syntax.scss */
.highlight .kd {
  font-weight: bold;
}

/* Keyword.Declaration */
/* line 67, ../../sass/syntax.scss */
.highlight .kp {
  font-weight: bold;
}

/* Keyword.Pseudo */
/* line 68, ../../sass/syntax.scss */
.highlight .kr {
  font-weight: bold;
}

/* Keyword.Reserved */
/* line 69, ../../sass/syntax.scss */
.highlight .kt {
  color: #445588;
  font-weight: bold;
}

/* Keyword.Type */
/* line 70, ../../sass/syntax.scss */
.highlight .m {
  color: #009999;
}

/* Literal.Number */
/* line 71, ../../sass/syntax.scss */
.highlight .s {
  color: #d14;
}

/* Literal.String */
/* line 72, ../../sass/syntax.scss */
.highlight .na {
  color: #008080;
}

/* Name.Attribute */
/* line 73, ../../sass/syntax.scss */
.highlight .nb {
  color: #0086B3;
}

/* Name.Builtin */
/* line 74, ../../sass/syntax.scss */
.highlight .nc {
  color: #445588;
  font-weight: bold;
}

/* Name.Class */
/* line 75, ../../sass/syntax.scss */
.highlight .no {
  color: #008080;
}

/* Name.Constant */
/* line 76, ../../sass/syntax.scss */
.highlight .ni {
  color: #800080;
}

/* Name.Entity */
/* line 77, ../../sass/syntax.scss */
.highlight .ne {
  color: #990000;
  font-weight: bold;
}

/* Name.Exception */
/* line 78, ../../sass/syntax.scss */
.highlight .nf {
  color: #990000;
  font-weight: bold;
}

/* Name.Function */
/* line 79, ../../sass/syntax.scss */
.highlight .nn {
  color: #555555;
}

/* Name.Namespace */
/* line 80, ../../sass/syntax.scss */
.highlight .nt {
  color: #000080;
}

/* Name.Tag */
/* line 81, ../../sass/syntax.scss */
.highlight .nv {
  color: #008080;
}

/* Name.Variable */
/* line 82, ../../sass/syntax.scss */
.highlight .ow {
  font-weight: bold;
}

/* Operator.Word */
/* line 83, ../../sass/syntax.scss */
.highlight .w {
  color: #bbbbbb;
}

/* Text.Whitespace */
/* line 84, ../../sass/syntax.scss */
.highlight .mf {
  color: #009999;
}

/* Literal.Number.Float */
/* line 85, ../../sass/syntax.scss */
.highlight .mh {
  color: #009999;
}

/* Literal.Number.Hex */
/* line 86, ../../sass/syntax.scss */
.highlight .mi {
  color: #009999;
}

/* Literal.Number.Integer */
/* line 87, ../../sass/syntax.scss */
.highlight .mo {
  color: #009999;
}

/* Literal.Number.Oct */
/* line 88, ../../sass/syntax.scss */
.highlight .sb {
  color: #d14;
}

/* Literal.String.Backtick */
/* line 89, ../../sass/syntax.scss */
.highlight .sc {
  color: #d14;
}

/* Literal.String.Char */
/* line 90, ../../sass/syntax.scss */
.highlight .sd {
  color: #d14;
}

/* Literal.String.Doc */
/* line 91, ../../sass/syntax.scss */
.highlight .s2 {
  color: #d14;
}

/* Literal.String.Double */
/* line 92, ../../sass/syntax.scss */
.highlight .se {
  color: #d14;
}

/* Literal.String.Escape */
/* line 93, ../../sass/syntax.scss */
.highlight .sh {
  color: #d14;
}

/* Literal.String.Heredoc */
/* line 94, ../../sass/syntax.scss */
.highlight .si {
  color: #d14;
}

/* Literal.String.Interpol */
/* line 95, ../../sass/syntax.scss */
.highlight .sx {
  color: #d14;
}

/* Literal.String.Other */
/* line 96, ../../sass/syntax.scss */
.highlight .sr {
  color: #009926;
}

/* Literal.String.Regex */
/* line 97, ../../sass/syntax.scss */
.highlight .s1 {
  color: #d14;
}

/* Literal.String.Single */
/* line 98, ../../sass/syntax.scss */
.highlight .ss {
  color: #990073;
}

/* Literal.String.Symbol */
/* line 99, ../../sass/syntax.scss */
.highlight .bp {
  color: #999999;
}

/* Name.Builtin.Pseudo */
/* line 100, ../../sass/syntax.scss */
.highlight .vc {
  color: #008080;
}

/* Name.Variable.Class */
/* line 101, ../../sass/syntax.scss */
.highlight .vg {
  color: #008080;
}

/* Name.Variable.Global */
/* line 102, ../../sass/syntax.scss */
.highlight .vi {
  color: #008080;
}

/* Name.Variable.Instance */
/* line 103, ../../sass/syntax.scss */
.highlight .il {
  color: #009999;
}

/* Literal.Number.Integer.Long */
/* Solarized, stolen from Octopress output */
/* line 108, ../../sass/syntax.scss */
.pre-code span, html .gist .gist-file .gist-syntax .gist-highlight pre span, .highlight code span {
  color: #93A1A1 !important;
}

/* line 111, ../../sass/syntax.scss */
.pre-code span, html .gist .gist-file .gist-syntax .gist-highlight pre span, .highlight code span {
  font-style: normal !important;
  font-weight: normal !important;
}

/* line 115, ../../sass/syntax.scss */
.pre-code .c, html .gist .gist-file .gist-syntax .gist-highlight pre .c, .highlight code .c {
  color: #586E75 !important;
  font-style: italic !important;
}

/* line 119, ../../sass/syntax.scss */
.pre-code .cm, html .gist .gist-file .gist-syntax .gist-highlight pre .cm, .highlight code .cm {
  color: #586E75 !important;
  font-style: italic !important;
}

/* line 123, ../../sass/syntax.scss */
.pre-code .cp, html .gist .gist-file .gist-syntax .gist-highlight pre .cp, .highlight code .cp {
  color: #586E75 !important;
  font-style: italic !important;
}

/* line 127, ../../sass/syntax.scss */
.pre-code .c1, html .gist .gist-file .gist-syntax .gist-highlight pre .c1, .highlight code .c1 {
  color: #586E75 !important;
  font-style: italic !important;
}

/* line 131, ../../sass/syntax.scss */
.pre-code .cs, html .gist .gist-file .gist-syntax .gist-highlight pre .cs, .highlight code .cs {
  color: #586E75 !important;
  font-style: italic !important;
  font-weight: bold !important;
}

/* line 136, ../../sass/syntax.scss */
.pre-code .err, html .gist .gist-file .gist-syntax .gist-highlight pre .err, .highlight code .err {
  background: none repeat scroll 0 0 transparent !important;
  color: #DC322F !important;
}

/* line 140, ../../sass/syntax.scss */
.pre-code .k, html .gist .gist-file .gist-syntax .gist-highlight pre .k, .highlight code .k {
  color: #CB4B16 !important;
}

/* line 143, ../../sass/syntax.scss */
.pre-code .o, html .gist .gist-file .gist-syntax .gist-highlight pre .o, .highlight code .o {
  color: #93A1A1 !important;
  font-weight: bold !important;
}

/* line 147, ../../sass/syntax.scss */
.pre-code .p, html .gist .gist-file .gist-syntax .gist-highlight pre .p, .highlight code .p {
  color: #93A1A1 !important;
}

/* line 150, ../../sass/syntax.scss */
.pre-code .ow, html .gist .gist-file .gist-syntax .gist-highlight pre .ow, .highlight code .ow {
  color: #2AA198 !important;
  font-weight: bold !important;
}

/* line 154, ../../sass/syntax.scss */
.pre-code .gd, html .gist .gist-file .gist-syntax .gist-highlight pre .gd, .highlight code .gd {
  background-color: #372C34 !important;
  color: #93A1A1 !important;
  display: inline-block;
}

/* line 159, ../../sass/syntax.scss */
.pre-code .gd .x, html .gist .gist-file .gist-syntax .gist-highlight pre .gd .x, .highlight code .gd .x {
  background-color: #4D2D33 !important;
  color: #93A1A1 !important;
  display: inline-block;
}

/* line 164, ../../sass/syntax.scss */
.pre-code .ge, html .gist .gist-file .gist-syntax .gist-highlight pre .ge, .highlight code .ge {
  color: #93A1A1 !important;
  font-style: italic !important;
}

/* line 168, ../../sass/syntax.scss */
.pre-code .gh, html .gist .gist-file .gist-syntax .gist-highlight pre .gh, .highlight code .gh {
  color: #586E75 !important;
}

/* line 171, ../../sass/syntax.scss */
.pre-code .gi, html .gist .gist-file .gist-syntax .gist-highlight pre .gi, .highlight code .gi {
  background-color: #1A412B !important;
  color: #93A1A1 !important;
  display: inline-block;
}

/* line 176, ../../sass/syntax.scss */
.pre-code .gi .x, html .gist .gist-file .gist-syntax .gist-highlight pre .gi .x, .highlight code .gi .x {
  background-color: #355720 !important;
  color: #93A1A1 !important;
  display: inline-block;
}

/* line 181, ../../sass/syntax.scss */
.pre-code .gs, html .gist .gist-file .gist-syntax .gist-highlight pre .gs, .highlight code .gs {
  color: #93A1A1 !important;
  font-weight: bold !important;
}

/* line 185, ../../sass/syntax.scss */
.pre-code .gu, html .gist .gist-file .gist-syntax .gist-highlight pre .gu, .highlight code .gu {
  color: #6C71C4 !important;
}

/* line 188, ../../sass/syntax.scss */
.pre-code .kc, html .gist .gist-file .gist-syntax .gist-highlight pre .kc, .highlight code .kc {
  color: #859900 !important;
  font-weight: bold !important;
}

/* line 192, ../../sass/syntax.scss */
.pre-code .kd, html .gist .gist-file .gist-syntax .gist-highlight pre .kd, .highlight code .kd {
  color: #268BD2 !important;
}

/* line 195, ../../sass/syntax.scss */
.pre-code .kp, html .gist .gist-file .gist-syntax .gist-highlight pre .kp, .highlight code .kp {
  color: #CB4B16 !important;
  font-weight: bold !important;
}

/* line 199, ../../sass/syntax.scss */
.pre-code .kr, html .gist .gist-file .gist-syntax .gist-highlight pre .kr, .highlight code .kr {
  color: #D33682 !important;
  font-weight: bold !important;
}

/* line 203, ../../sass/syntax.scss */
.pre-code .kt, html .gist .gist-file .gist-syntax .gist-highlight pre .kt, .highlight code .kt {
  color: #2AA198 !important;
}

/* line 206, ../../sass/syntax.scss */
.pre-code .n, html .gist .gist-file .gist-syntax .gist-highlight pre .n, .highlight code .n {
  color: #268BD2 !important;
}

/* line 209, ../../sass/syntax.scss */
.pre-code .na, html .gist .gist-file .gist-syntax .gist-highlight pre .na, .highlight code .na {
  color: #268BD2 !important;
}

/* line 212, ../../sass/syntax.scss */
.pre-code .nb, html .gist .gist-file .gist-syntax .gist-highlight pre .nb, .highlight code .nb {
  color: #859900 !important;
}

/* line 215, ../../sass/syntax.scss */
.pre-code .nc, html .gist .gist-file .gist-syntax .gist-highlight pre .nc, .highlight code .nc {
  color: #D33682 !important;
}

/* line 218, ../../sass/syntax.scss */
.pre-code .no, html .gist .gist-file .gist-syntax .gist-highlight pre .no, .highlight code .no {
  color: #B58900 !important;
}

/* line 221, ../../sass/syntax.scss */
.pre-code .nl, html .gist .gist-file .gist-syntax .gist-highlight pre .nl, .highlight code .nl {
  color: #859900 !important;
}

/* line 224, ../../sass/syntax.scss */
.pre-code .ne, html .gist .gist-file .gist-syntax .gist-highlight pre .ne, .highlight code .ne {
  color: #268BD2 !important;
  font-weight: bold !important;
}

/* line 228, ../../sass/syntax.scss */
.pre-code .nf, html .gist .gist-file .gist-syntax .gist-highlight pre .nf, .highlight code .nf {
  color: #268BD2 !important;
  font-weight: bold !important;
}

/* line 232, ../../sass/syntax.scss */
.pre-code .nn, html .gist .gist-file .gist-syntax .gist-highlight pre .nn, .highlight code .nn {
  color: #B58900 !important;
}

/* line 235, ../../sass/syntax.scss */
.pre-code .nt, html .gist .gist-file .gist-syntax .gist-highlight pre .nt, .highlight code .nt {
  color: #268BD2 !important;
  font-weight: bold !important;
}

/* line 239, ../../sass/syntax.scss */
.pre-code .nx, html .gist .gist-file .gist-syntax .gist-highlight pre .nx, .highlight code .nx {
  color: #B58900 !important;
}

/* line 242, ../../sass/syntax.scss */
.pre-code .vg, html .gist .gist-file .gist-syntax .gist-highlight pre .vg, .highlight code .vg {
  color: #268BD2 !important;
}

/* line 245, ../../sass/syntax.scss */
.pre-code .vi, html .gist .gist-file .gist-syntax .gist-highlight pre .vi, .highlight code .vi {
  color: #268BD2 !important;
}

/* line 248, ../../sass/syntax.scss */
.pre-code .nv, html .gist .gist-file .gist-syntax .gist-highlight pre .nv, .highlight code .nv {
  color: #268BD2 !important;
}

/* line 251, ../../sass/syntax.scss */
.pre-code .mf, html .gist .gist-file .gist-syntax .gist-highlight pre .mf, .highlight code .mf {
  color: #2AA198 !important;
}

/* line 254, ../../sass/syntax.scss */
.pre-code .m, html .gist .gist-file .gist-syntax .gist-highlight pre .m, .highlight code .m {
  color: #2AA198 !important;
}

/* line 257, ../../sass/syntax.scss */
.pre-code .mh, html .gist .gist-file .gist-syntax .gist-highlight pre .mh, .highlight code .mh {
  color: #2AA198 !important;
}

/* line 260, ../../sass/syntax.scss */
.pre-code .mi, html .gist .gist-file .gist-syntax .gist-highlight pre .mi, .highlight code .mi {
  color: #2AA198 !important;
}

/* line 263, ../../sass/syntax.scss */
.pre-code .s, html .gist .gist-file .gist-syntax .gist-highlight pre .s, .highlight code .s {
  color: #2AA198 !important;
}

/* line 266, ../../sass/syntax.scss */
.pre-code .sd, html .gist .gist-file .gist-syntax .gist-highlight pre .sd, .highlight code .sd {
  color: #2AA198 !important;
}

/* line 269, ../../sass/syntax.scss */
.pre-code .s2, html .gist .gist-file .gist-syntax .gist-highlight pre .s2, .highlight code .s2 {
  color: #2AA198 !important;
}

/* line 272, ../../sass/syntax.scss */
.pre-code .se, html .gist .gist-file .gist-syntax .gist-highlight pre .se, .highlight code .se {
  color: #DC322F !important;
}

/* line 275, ../../sass/syntax.scss */
.pre-code .si, html .gist .gist-file .gist-syntax .gist-highlight pre .si, .highlight code .si {
  color: #268BD2 !important;
}

/* line 278, ../../sass/syntax.scss */
.pre-code .sr, html .gist .gist-file .gist-syntax .gist-highlight pre .sr, .highlight code .sr {
  color: #2AA198 !important;
}

/* line 281, ../../sass/syntax.scss */
.pre-code .s1, html .gist .gist-file .gist-syntax .gist-highlight pre .s1, .highlight code .s1 {
  color: #2AA198 !important;
}
