<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>MD by Mack Duan | {{ page.title }}</title>
	<meta name="author" content="Mack Duan" />
	<!--TODO:
	<link href="http://feeds2.feedburner.com/MD" rel="alternate" title="RSS" type="application/rss+xml" />
	-->
	<link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen, projection" />
	{% for css_path in page.css_paths %}
		<link rel="stylesheet" href="{{ css_path }}" type="text/css" media="screen, projection" />
	{% endfor %}
</head>
<body>
	{{ content }}
	<!-- TODO: add google analytics -->
</body>
</html>
